<!-- colors-display.component.html -->
<div class="p-6 space-y-4 font-sans">
  <!-- Dark/Light toggle -->
  <app-dark-mode-toggle></app-dark-mode-toggle>

  <h1
    class="text-5xl font-heading font-bold mb-4 text-textLight dark:text-textDark"
  >
    Tailwind Colors Display
  </h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    <!-- Primary Colors -->
    <div class="p-4 rounded shadow bg-primaryTail dark:bg-primaryDarkTail">
      <p class="font-bold text-white dark:text-textDark">This is primary</p>
      <p class="text-white dark:text-textDark">#03256C / #3B6EDB</p>
    </div>

    <div class="p-4 rounded shadow bg-secondaryTail dark:bg-secondaryDarkTail">
      <p class="font-bold text-white dark:text-textDark">This is secondary</p>
      <p class="text-white dark:text-textDark">#2541B2 / #5A7FCF</p>
    </div>

    <div class="p-4 rounded shadow bg-accentTail dark:bg-accentDarkTail">
      <p class="font-bold text-white dark:text-textDark">This is accent</p>
      <p class="text-white dark:text-textDark">#1768AC / #4CA3E0</p>
    </div>

    <div class="p-4 rounded shadow bg-infoTail dark:bg-infoDarkTail">
      <p class="font-bold text-white dark:text-textDark">This is info</p>
      <p class="text-white dark:text-textDark">#06BEE1 / #33C1F0</p>
    </div>

    <!-- Light & Dark Mode backgrounds -->
    <div class="p-4 rounded shadow bg-bgLight dark:bg-bgDark">
      <p class="font-bold text-textLight dark:text-textDark">
        This is background
      </p>
    </div>

    <div class="p-4 rounded shadow bg-surfaceLight dark:bg-surfaceDark">
      <p class="font-bold text-textLight dark:text-textDark">This is surface</p>
    </div>

    <!-- Status Colors -->
    <div class="p-4 rounded shadow bg-successTail">
      <p class="font-bold text-white">This is success</p>
    </div>

    <div class="p-4 rounded shadow bg-warningTail">
      <p class="font-bold text-white">This is warning</p>
    </div>

    <div class="p-4 rounded shadow bg-dangerTail">
      <p class="font-bold text-white">This is danger</p>
    </div>
  </div>
</div>
